/* Put your css in here */

          .custom-info-window {
        background: rgba(0,0,0,0.5);
        color: white;
        padding: 10px;
        /*border: 1px solid white;*/
        box-shadow: 1px 1px 10px #000000;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
        -ms-border-radius: 2px;
        border-radius: 2px;
        width: 200px;
        margin-top: -150px;
        margin-left: -100px;
        padding-bottom: 15px;
        margin-bottom: 30px;
        position: absolute;
    }

    .custom-info-window a{
        color: white;
        text-decoration: underline;
    }
    .custom-info-window:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 11px 11px 0;
        border-color: #000000 transparent;
        border-color: rgba(0,0,0,0.5) transparent;
        display: block;
        width: 0;
        z-index: 10;
        top: 115px;
        left: 91px;
    }

.angular-google-map-container { height: 400px; }
